*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // Defines what is 1rem
  font-size: 62.5%; // 1rem == 10px; 10px/16px = 62.5%

  // @include respond(phone) {
  //   font-size: 50%;
  // }
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }
  @include respond(big) {
    font-size: 75%; // 1rem = 12px
  }
}
body {
  box-sizing: border-box;
  padding: 30px;
  @include respond(tab-port) {
    padding: 0;
  }
}
