body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-light;
  text-transform: uppercase;
  margin-bottom: 60px;

  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-family: 5rem;
    }

    /* 
          animation-iteration-count: 3;
          animation-delay: 2s;
          */
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: moveInRight 1.5s ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2px;
  transition: all 0.4s;
  cursor: default;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }

  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  &:hover {
    transform: skewY(-5deg) skewX(20deg);
    text-shadow: 0.5rem 1rem 2rem rgba($color: $color-black, $alpha: 0.2);
  }
}

.heading-tertiary {
  font-size: $font-default;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: $font-default;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
