.center-text {
  text-align: center !important;
}
.mb-sm {
  margin-bottom: 1.5rem !important;
}
.mb-md {
  margin-bottom: 4rem !important;
}
.mb-lg {
  margin-bottom: 8rem !important;
}
.mb-xl {
  margin-bottom: 10rem !important;
}
.mt-sm {
  margin-top: 1.5rem !important;
}
.mt-md {
  margin-top: 4rem !important;
}
.mt-lg {
  margin-top: 8rem !important;
}
.mt-xl {
  margin-top: 10rem !important;
}
